name=nextp8
resource=00_menu.bin,0
config=31

; Base test suite ROMs
userfile=base/b01post,base: 01 POST code,0,0
userfile=base/b02uart,base: 02 UART output,0,0
userfile=base/b03srmrd,base: 03 SRAM read,0,0
userfile=base/b04srmwr,base: 04 SRAM write,0,0
userfile=base/b05vram,base: 05 VRAM access,0,0
userfile=base/b06tmr,base: 06 timers,0,0
userfile=base/b07scrn,base: 07 screen output,0,0
userfile=base/b08intr,base: 08 interrupts,0,0

; Main test suite ROMs
userfile=main/m01ver,main: 01 version info,0,0
userfile=main/m03joy,main: 03 joystick,0,0
userfile=main/m04mouse,main: 04 mouse,0,0
userfile=main/m05akbd,main: 05a built-in keyboard,0,0
userfile=main/m05bkbd,main: 05b external keyboard,0,0
userfile=main/m06sdspi,main: 06 SD SPI,0,0
userfile=main/m07i2c,main: 07 I2C,0,0
userfile=main/m09uart,main: 09 UART ESP,0,0
userfile=main/m10digi,main: 10 digital audio,0,0
userfile=main/m12pal,main: 12 palette,0,0
userfile=main/m13p8aud,main: 13 p8audio,0,0
userfile=main/m14ovly,main: 14 overlay,0,0
